:root{
    --teal: #389738;
    --teal_hover: #228b22;
    --blue: #03254c;
}

*{
    font-family: "Poppins", sans-serif;
}
.h-font{
    font-family:"Inter", sans-serif;
}
.custom-bg{
    background:var(--teal);
    border: 1px solid var(--teal);
}
.custom-bg:hover{
    background:var(--teal_hover);
    border: 1px solid var(--teal_hover);
}
.color-blue{
    color: var(--blue);
}
.bg-dw{
    background: RGB(240, 248, 255);
}
.bg-infog{
    background:#cfd8dc;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(15, 0, 80);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(37, 19, 119);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 50%;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
.h-line{
    width: 150px;
    margin: 0 auto;
    height: 2.7px;
}
.custom-alert{
    position: fixed;
    top: 125px;
    right: 25px;
}